*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background:#171717;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 8px 5%;
    margin-bottom: 20px;
    background: #171717;
}

section nav .logo h1{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

section nav .right ul{
list-style: none;
}


section nav .right ul li{
    display: inline-block;
    margin: 0 5px;
}

section nav .right ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

section nav .right ul li a:hover{
    color: #6200ff;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

}
.swiper::selection {
    user-select: none;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.swiper-slide .image .black {
  position: absolute;
  top: 0;          /* Texte en haut */
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.9));
  color: #fff;
  padding: 50px 5%;  /* Ajuste la marge du texte */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* texte en haut */
}

/* Titre et étoiles */
.swiper-slide .image .black h1 {
  font-size: 30px;
  text-align: left;
  position: relative;
  top: 60%;
  left: 5%;
  color: #fff;


}

.swiper-slide .image .black .stars {
    color: antiquewhite;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;

 
}

.swiper-slide .image .black p {
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
}
    


.swiper-slide .image .black .genre {
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 60%;
    left: 5%;
}
.swiper-slide .image .black .genre .category {
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 7px;
}

.swiper-slide .image .black .watch {
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
}
.swiper-slide .image .black .watch i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #0099ff;
  border-radius: 50%;
  cursor: pointer;

}

.swiper-slide .image .black .watch a.category span {
    color: #cccccc;  
}

.swiper-slide .image .black .watch p {
    margin: 0;
    font-family: sans-serif;
    display: inline-block;
    vertical-align: middle;
     font-size: 18px;
    margin-top: -15px;  /* remonte le texte légèrement */
}




